name: learn-github-actions
on: [push]
jobs:
  check-bats-verison:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: '14'
      - run: npm install -g bats
      - run: bats -v
